.input_box {
  width:100%;
  padding:.5rem;
  border-radius:.25rem;
  background-color:#fff; /* changed input box background color */
  box-shadow:none;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-width:.0625rem;
  border-color:#e2e8f0; /* added input box border color */
}

.input_box input {
  width:100%;
  padding:.5rem .75rem;
  font-size:.875rem;
  line-height:1.25rem;
  font-weight:500;
  color:#4a5568; /* changed input text color */
  background-color:#fff0; /* added input box text background color */
  border-width:.0625rem;
  border-color:#e2e8f0; /* added input box text border color */
  border-radius:.25rem;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.input_box input:focus {
  outline:none !important; /* removed input box outline on focus */
  box-shadow:none !important; /* removed input box shadow on focus */
  border-color:#9a02ac; /* added input box text border color on focus */
}