.Button {
  margin-block: 2rem;
  background-color: #9a02ac; /* changed button background color */
  border: none; /* removed button border */
  padding: 0.5rem 1rem;
  color: #fff; /* changed button text color */
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold; /* changed button font weight */
}

.Button:hover {
  background-color: #231e39; /* changed button hover background color */
}